<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bundle identifier</key>
	<string></string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta aplicación necesita acceso a la biblioteca de fotos para guardar imágenes o videos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación necesita acceder a tu biblioteca de fotos para mostrar y gestionar contenido multimedia.</string>
</dict>
</plist>
